* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 5rem;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
  font-size: 4rem;
  font-style: italic;
  margin-bottom: 4rem;
}

h2,
p,
h3,
h4,
a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.grid_1-1-1 {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 2rem;
}
.grid_1-1-1 a {
  color: aliceblue;
  text-decoration: none;
  font-size: 2rem;
  background-color: gray;
  border-radius: 5px;
  text-align: center;
}

.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  grid-template-rows: repeat(5, auto);
  gap: 2rem;
  position: absolute;
}

.box img {
  width: 100%;
}

.box h4 {
  opacity: 20%;
}

.box {
  grid-row: span 5;
  display: grid;
  grid-template-rows: subgrid;
}

.udsolgt_f {
  filter: grayscale();
}

.udsolgt {
  position: relative;
  top: -350px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.364);
  color: white;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.rabat {
  position: relative;
  top: -250px;
  right: 0;
  background-color: rgba(255, 0, 0, 0.919);
  color: white;
  width: 30%;
  text-align: center;
  padding: 5px;
  max-height: 25px;
}
@media (max-width: 760px) {
  .grid_1-1-1-1,
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
